* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#tei-mobil {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbarimg {
    width: 80px;
    height: auto;
}

.nav-link {
    font-family: sans-serif;
    color: black;

}

.nav-link:hover {
    background-color: #f8f9fa;
    color: #0e3c76;
}

.navbar-brand {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

.navbar-brand:hover {

    background-color: #f8f9fa;
    color: #4c01fb;
}



.btn-primary {
    background-color: rgb(210, 30, 30);
}

.logoboyutu {

    width: 10em;
}



.container-fluid.background-image {
    height: 600px;
    background-image: url('/images/ofisçalışanı.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.overlay {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.fs-1,
.btn-outline-warning {
    position: relative;
    z-index: 2;
}

.bg-white {
    background: linear-gradient(146deg, #8953dc 0%, #328cfa 100%);
}


.bg-danger {
    background: linear-gradient(146deg, #8953dc 0%, #328cfa 100%);
}


.bg-warning {
    background: linear-gradient(to right, #ba0000, orange, #d0d000);
}

.btn-secondary {
    background: linear-gradient(to right, #d0d000, orange, #ba0000);
}

.text-black {

    color: #442a6a !important;
}

.resim {
    height: 400px;
    position: relative;
}

.resim img {
    position: absolute;
    max-width: 100%;
    height: auto;
}

.resim img:first-child {
    z-index: 2;
    width: 300%;
    top: 5%;
    left: 30%;
}

.resim img:nth-child(2) {
    z-index: 1;
    width: 400%;
    top: 5%;
    left: 30%;
}

.resim img:last-child {
    z-index: 3;
    width: 350%;
    top: 5%;
    left: 43%;
}




@media (max-width: 575.98px) {
    .app-badge {
        max-width: 30%;
        height: auto;
    }
}

@media (min-width: 576px) {
    .app-badge {
        max-width: 40%;
        height: auto;
    }
}

/* MD (orta boyut) ekranlar için */
@media (min-width: 768px) {
    .app-badge {
        max-width: 50%;
        height: auto;
    }
}

@media (min-width: 992px) {
    .app-badge {
        max-width: 90%;
        height: auto;
    }
}

@media (min-width: 1200px) {
    .app-badge {
        max-width: 100%;
        height: auto;
    }
}





.resim2 {
    position: relative;
}

.resim2 img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
}

.resim2 img:first-child {
    z-index: 1;
    width: 300px;
    height: auto;
}

.resim2 img:last-child {
    z-index: 2;
    width: 300px;
    height: auto;

}

.resim2 img:nth-child(3) {
    z-index: -1;
    width: 1000px;
    height: auto;
    left: 5px;
}

.btn-outline-warning {
    font-size: medium;
    color: white;

}




.bi-badge-8k,
.bi-cast,
.bi-music-player-fill,
.bi-globe-americas {

    color: purple;
}